.nav.link{
    font-family: 'Sarabun', sans-serif;
    font-size: 16px;
}

.navbar.band{
    font-family: 'Sarabun', sans-serif;
}

.dropdown-menu{
    font-family: 'Sarabun', sans-serif;
}

.nav-item{
    font-family: 'Sarabun', sans-serif;
}